{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<section class="hero-wrap hero-wrap-2" style="background-image: url('/static/images/bg_1.jpg');"
  data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
      <div class="col-md-9 ftco-animate pb-0 text-center">
        <p class="breadcrumbs"><span class="mr-2"><a href="/">Home <i class="fa fa-chevron-right"></i></a></span>
          <span>Reserva <i class="fa fa-chevron-right"></i></span></p>
        <h1 class="mb-3 bread">Servicio Extra</h1>
      </div>
    </div>
  </div>
</section>



<section class="about-author d-flex p-4 bg-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 heading-section text-center ">
        <span class="subheading">Reserva</span>
        <h2 class="mb-2">Agregar Servicio Extra</h2>
      </div>
    </div>

    <form method="post">
      {% csrf_token %}

      <div class="form-row">
        <div class="form-group col-md-4 mb-0" style="display: none;">
          {{ form.id_reserva|as_crispy_field }}
        </div>
        <!--
        <div class="form-group col-md-4 mb-0" style="display: none;">
          {{ form.id_depto|as_crispy_field }}
        </div>-->
        <div class="form-group col-md-4 mb-0">
          {{ form.id_tiposervicioextra|as_crispy_field }}
        </div>
        <div class="form-group col-md-4 mb-0">
          {{ form.fecha_dia|as_crispy_field }}
        </div>
        <div class="form-group col-md-4 mb-0">
          {{ form.fecha_hora|as_crispy_field }}
        </div>
        <div class="form-group col-md-12 mb-0">
          {{ form.ubicacion|as_crispy_field }}
        </div>
        <button type="submit" class="btn btn-info btn-lm btn-block"><i class="lnr lnr-apartment fa-spin"></i>
          Agregar Servicio Extra</i></button>

    </form>
  </div>


</section>

<br>
<br>
<br>





{% endblock %}