{% extends 'admin_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="main-container">
	<div class="pd-ltr-20 xs-pd-20-10">
		<div class="min-height-200px">
			<div class="page-header">
				<div class="row">
					<div class="col-md-6 col-sm-12">
						<div class="title">
							<h4>Mantención</h4>
						</div>
						<nav aria-label="breadcrumb" role="navigation">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="{% url 'admin_base' %}">Home</a></li>
								<li class="breadcrumb-item " aria-current="page">Mantenedor Mantención </li>
								<li class="breadcrumb-item active" aria-current="page"> {{ depto }}  </li>
							</ol>
						</nav>
					</div>
					
					<div class="col-md-6 col-sm-12 text-right">
						<a class="btn btn-info" href="{% url 'web:crear_mantencion' depto.id_depto %}" role="button"><i class="icon-copy fa fa-plus-circle" aria-hidden="true"></i> Agregar Mantención</a>					

					   <a class="btn btn-primary" href="{% url 'web:mantencion_depto' %}" role="button">Ir a Gestionar Mantenciones</a>					
					</div>
				</div>
			</div>
			<div class="pd-20 bg-white border-radius-4 box-shadow mb-30">
				{% if items %}
				<table class="table table-bordered table-responsive-md table-striped text-justifi">
					<thead>
						<tr>
							<th class="text-center">Tipo Mantención</th>
							<th class="text-center">Estado</th>
							<th class="text-center">Costo Mantencion</th>
							<th class="text-center">Fecha Inicio</th>
							<th class="text-center">Fecha Término</th>
							<th class="text-center">Acciones</th>
						</tr>
					</thead>
					<tbody>
						{% for item in items %}
						<tr>
							<td style="text-align: center; ">{{ item.id_mantencion }}</td>
							<td style="text-align: center; ">{{ item.estado_mantencion }}</td>
							<td style="text-align: center; ">{{ item.costo_mantencion }}</td>
							<td style="text-align: center; ">{{ item.fecha_inicio }}</td>
							<td style="text-align: center; ">{{ item.fecha_termino }}</td>
							<td class="text-center" style="text-align: center; ">

                                <a href="{% url 'web:mantencion_actualizar' item.id %}"><button
                                        class="btn btn-success btn-2x"><i class="dw dw-edit-1"></i>
                                        Editar</i></button></a>

                                <a href="{% url 'web:mantencion_eliminar' item.id %}"><button
                                        class="btn btn-danger btn-2x"><i class="dw dw-trash"></i>
                                        Eliminar</button></a>
                            </td>

						</tr>
						
						{% endfor %}
					</tbody>
				</table>

				<nav aria-label="Page navigation example">
					<ul class="pagination" style="justify-content: center; color: black;">
						{% if page_obj.has_previous %}
						<li class="page-item"><a class="page-link"
								href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
						{% endif %}
						{% for i in paginator.page_range %}
						<li class="page-item" {% if page_obj.number == i %} class="active" {% endif %}>
							<a class="page-link" href="?page={{i}}">{{ i }}</a>
						</li>
						{% endfor %}

						{% if page_obj.has_next %}
						<li class="page-item"><a class="page-link"
								href="?page={{ page_obj.next_page_number }}">&raquo;</a>
						</li>
						{% endif %}
					</ul>
				</nav>	
				{% else %}
				
				<p>No hay mantenciones nuevas</p>
				{% endif %}
		
			</div>
			<div class="pd-20 bg-white border-radius-4 box-shadow mb-30">
				{% if items2 %}

				<table class="table table-bordered table-responsive-md table-striped text-justifi">
					<thead>
						<tr>
							<th class="text-center">Tipo Mantención</th>
							<th class="text-center">Estado</th>
							<th class="text-center">Costo Mantencion</th>
							<th class="text-center">Fecha Inicio</th>
							<th class="text-center">Fecha Término</th>
							
						</tr>
					</thead>
					<tbody>
						{% for item in items2 %}
						<tr>
							<td style="text-align: center; ">{{ item.id_mantencion }}</td>
							<td style="text-align: center; ">{{ item.estado_mantencion }}</td>
							<td style="text-align: center; ">{{ item.costo_mantencion }}</td>
							<td style="text-align: center; ">{{ item.fecha_inicio }}</td>
							<td style="text-align: center; ">{{ item.fecha_termino }}</td>
	

						</tr>
						
						{% endfor %}
					</tbody>
				</table>
				

				<nav aria-label="Page navigation example">
					<ul class="pagination" style="justify-content: center; color: black;">
						{% if page_obj.has_previous %}
						<li class="page-item"><a class="page-link"
								href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
						{% endif %}
						{% for i in paginator.page_range %}
						<li class="page-item" {% if page_obj.number == i %} class="active" {% endif %}>
							<a class="page-link" href="?page={{i}}">{{ i }}</a>
						</li>
						{% endfor %}

						{% if page_obj.has_next %}
						<li class="page-item"><a class="page-link"
								href="?page={{ page_obj.next_page_number }}">&raquo;</a>
						</li>
						{% endif %}
					</ul>
				</nav>	
				{% else %}
				
				<p>No hay mantenciones realizadas</p>
				{% endif %}
			</div>
		</div>
		<div class="footer-wrap pd-20 mb-20 card-box">
			Turismo - RentOur - Portafolio 001V - 2020 </a>
		</div>
	</div>
</div>

{% endblock %} 