{% extends 'admin_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="main-container">
	<div class="pd-ltr-20 xs-pd-20-10">
		<div class="min-height-200px">
			<div class="page-header">
				<div class="row">
					<div class="col-md-6 col-sm-12">
						<div class="title">
							<h4>Usuario</h4>
						</div>
						<nav aria-label="breadcrumb" role="navigation">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="{% url 'admin_base' %}">Home</a></li>
								<li class="breadcrumb-item active" aria-current="page">Editar Usuario</li>
							</ol>
						</nav>
					</div>
					<div class="col-md-6 col-sm-12 text-right">
					   <a class="btn btn-primary" href="{% url 'users:user_lista' %}" role="button">Ir a Lista Usuario</a>					
					</div>
				</div>
			</div>
			<div class="pd-20 bg-white border-radius-4 box-shadow mb-30">
                <div class="panel">
            
                    <div class="panel-body">
						<form action="#" method="POST" enctype="multipart/form-data" class="form-horizontal">
							{% csrf_token %}
                        <br>
                        <div class="form-group col-md-4 mb-0">
                            {{ form.email|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-4 mb-0">
                            {{ form.nombres|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-4 mb-0">
                            {{ form.apellidos|as_crispy_field }}
                        </div>
                        <br>
                     
						<br>
                        <div  class="form-group col-md-4 mb-0">
                            {{ form.is_active|as_crispy_field }}
						</div>
						<br>
                        <div  class="form-group col-md-4 mb-0">
                            {{ form.is_superuser|as_crispy_field }}
						</div>
						<br>
                        <div class="form-group col-md-4 mb-0">
                            {{ form.is_staff|as_crispy_field }}
						</div>
						<br>
                        <div class="form-group col-md-4 mb-0">
                            {{ form.is_client|as_crispy_field }}
						</div>
						<br>
						<button type="submit" class="btn btn-primary">Modificar</button>
						</form>
                    </div>
                </div>

	
		
			</div>
		</div>
		<div class="footer-wrap pd-20 mb-20 card-box">
			Turismo - RentOur - Portafolio 001V - 2020 </a>
		</div>
	</div>
</div>
{% endblock %}

                